* {
    margin: 0;
    padding: 0;
}

.content {
    background-color: rgb(17, 59, 146);
    color: #fff;
    padding-top: 20px;
}

.content p {
    font-size: 32px;
    text-align: center; 

}

.Form {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.Form form input {
    width: 360px;
}